<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detail_bike</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item padding>

      <ion-avatar style="width:100% !important; height : 100% !important; max-width: 150px !important;max-height: 150px">
          <img style="text-align: center" [src]="bike_detail[0].image" />
      </ion-avatar>
</ion-item>

<ion-item>
    <ion-label padding>{{ bike_detail[0].name }}</ion-label>
  
      
    <p><ion-label padding>{{ bike_detail[0].name }}</ion-label></p>
</ion-item>

</ion-content>
