<ion-header>
  <ion-toolbar>
    <ion-title>4.Mawin - Directions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Directions</ion-card-subtitle>
          <ion-card-title>Win! Tawan กำลังไปรับ ป้านุ้ย</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
    </ion-card>
    
    <ion-button expand="block" (click)="onClick()">
      ถึงแล้ว!!!!!
    </ion-button>
</ion-content>
